{% extends "base.html" %}

{% block content %}
<div class="container m-5 text-center" style="text-align: center;">
    <h3 style="text-align: left; color: black; font-style: italic;">Inicie sesion para continuar</h3>
    <form method="post" style="text-align: center;">
        <table style="font-style:italic">
            {% csrf_token %}
            {{form.as_table}}
        </table>
    <div class="container m-3 text-left" style="text-align: left;">
        <button class="btn btn-dark" type="submit">Login</button>
        <a href="{% url 'principal' %}"><button class="btn btn-secondary">Cancelar</button></a>
    </div>
    </form>
</div>


{% endblock content %}